* {
    padding: 0;
    margin: 0;
  }
  body  {
    font-family:"Lato", sans-serif;
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .contenedor {
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .info  {
    display: flex;
  }
  hr  {
    width: 100%;
    height: 3px;
    background-color: #F34348;
    border: none;
    border-radius: 10px;
    margin-bottom: 35px;
  }
  .date  {
    display: flex;
    align-items: center;
   
  }
  .dateleft  {
    display: flex;
    align-items: center;
  }
  #dateNumber  {
    font-size: 60px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f2793c;
  }
 
  #dateMonth,
  #dateNumber,
  #dateText
   {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  #dateMonth,
  #dateYear  {
    margin-left: 7px;
    font-size: 20px;
  }
  .colum  {
    display: inline-block;
    text-align: center;
  }
  .names  {
    display: flex;
  }
  #dateText  {
    justify-content: right;
    text-align: right;
    margin-left: 100px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #title   {
    margin-left: 100px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #f22b52;
  }
  .titles  {
    display: flex;
    align-items: center;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  input  {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
  }
  button  {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ec0069;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
  }
  button:hover {
    background: #f22b52;
  }
  #message  {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .See  {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #see-button  {
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #f22b52;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  #see-button:hover {
    background: #ec0069;
  }